<% provide :title, @user.firstname %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= "#{@user.firstname.humanize} #{@user.lastname.at(0).humanize}" %><br/>
        <%= gravatar_for @user, :size => 50 %>
      </h1>
      
     
   
    </td>
    <td class="sidebar round">
      <strong>Name: </strong> <%= @user.firstname %><br />
      <strong>URL</strong> <%= link_to user_path, @user %><br />
      <%= link_to "edit profile", edit_user_path(@user) %><br />
      <!--<td class="mid"><%= link_to "delete", @user, :method => :delete %></td>-->
      <% if @user.admin == true %>admin<% end %>
    </td> 
  </tr>
  <tr>
    <td class="rides" colspan="2">
      <% unless @user.rides.empty? %>
        <table class="rides" summary="User rides">
          <%= render @rides %>
        </table>
        <%= will_paginate @rides %>
      <% end %>
    </td>
  </tr>
</table>