<%= render 'shared/error_messages_rides', :object => f.object %>
<tr>
  <td colspan="1">
    <%= f.label :origin, "From:" %>
    <%= f.text_field :origin %> 
 <%= state_select(f, :originstate) %>
  </td>
  <td colspan="1">
    <%= f.label :destination, "To:" %>
    <%= f.text_field :destination %> 
 <%= state_select(f, :destinationstate) %><br/>
  </td>
  
</tr>
<tr>
  <td>
    <%= f.label :date, "On:" %>
    <%= f.date_select(:datetime, 
        					:order => [:month, :day], 
     					    :ampm => true, 
      				    :minute_step => 15
      				    ) %> 
  </td>
  <td colspan="1">
    <%= f.label :time, "At:" %>
    <%= f.time_select(:datetime,
     					    :ampm => true, 
      				    :minute_step => 15
      				    ) %> 
  </td>
</tr>