<%= render 'shared/error_messages_rides', :object => f.object %>
<div class="field">
  <table>
  <tr><td>
  </td></tr>
  <tr><td>
  <%= f.label :origin, "From:" %>
  <%= f.text_field :origin %> 
  </td><td>
  <%= f.label :destination, "  To:" %>
  <%= f.text_field :destination %> 
  </td><td>
  <%= f.label :date, "  On:" %>
  <%= f.text_field :date %>
  </td></tr>
  </table>
</div>
<div class="textarea">
  <%= f.label :message, "More info" %><br/>
  <%= f.text_area :message %>
</div>