<%= render 'shared/error_messages_rides', :object => f.object %>
<div class="field">
  <table>
  <tr>
    <td>
      <%= f.label :origin, "From:" %>
      <%= f.text_field :origin %> 
      <%= f.select(:originstate, options_for_select(['IL', 'WI'])) %>
    </td>
    <td>
      <%= f.label :destination, "  To:" %>
      <%= f.text_field :destination %> 
      <%= f.select(:destinationstate, options_for_select(['IL', 'WI'])) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :datetime, "On:" %>
      <%= f.date_select(:datetime, :order => [:day, :month] ) %> 
    </td>
    <td>
      <%= f.label :datetime, "at" %>
      <%= f.time_select(:datetime, :ampm => true, :hour => 8, :minute_step => 15) %>
    
  </tr>
  <tr><td>
  
  </td></tr>
  </table>
</div>
<div class="textarea">
  <%= f.label :message, "More info" %><br/>
  <%= f.text_area :message %>
</div>