<%= render 'shared/error_messages_rides', :object => f.object %>
  <tr>
    <td colspan="1">
      <%= f.label :origin, "From:" %>
      <%= f.text_field :origin %> 
	  <%= state_select(f, :originstate) %>
    </td>
    <td colspan="1">
      <%= f.label :destination, "To:" %>
      <%= f.text_field :destination %> 
	  <%= state_select(f, :destinationstate) %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3">
      <%= f.label :datetime, "On:" %>
      <%= f.datetime_select(:datetime, 
          					:order => [:month, :day, :hour, :minute], 
       					    :ampm => true, 
        				    :minute_step => 15
        				    ) %> 
    </td>
    
  </tr>
</div>
<tr><td>
<div class="textarea">
  <%= f.label :message, "More info" %><br/>
  <%= f.text_area :message %>
</div>
</td></tr>