<%= render 'shared/error_messages_rides', :object => f.object %>
<div class="field">
  <table>
  <tr><td>
  </td></tr>
  <tr><td>
  <%= f.label :origin, "From:" %>
  <%= f.text_field :origin %> 
  <%= select_tag(:originstate, options_for_select([['IL', 1], ['WI', 2]])) %>
  </td><td>
  <%= f.label :destination, "  To:" %>
  <%= f.text_field :destination %> 
  <%= select_tag(:originstate, options_for_select([['IL', 1], ['WI', 2]])) %>
  </td></tr>
  <tr><td>
  <%= f.label :date, "On:" %>
  <%= f.date_select(:date, :order => [:day, :month] ) %> 
  </td></tr>
  <tr><td>
  
  </td></tr>
  </table>
</div>
<div class="textarea">
  <%= f.label :message, "More info" %><br/>
  <%= f.text_area :message %>
</div>