<% provide(:title, "Home") %>


<% if !signed_in? %>
<h3>Welcome to Hitchr.</h3>
  <p>Hitchr helps drivers find riders and riders find drivers. Sharing the rides, sharing the 
  gas, sharing the experience.</p>


<br/>

<table class="home">
  <tr>
    <td>
      <%= link_to "Sign in", signin_path, :class => "signin button round" unless signed_in? %>
    </td>
    <td>
      <%= link_to "See Rides", rides_path, :class => "see_rides button round" %>
    </td>
    <td>
      <%= link_to "Sign up", signup_path, :class => "signup button round" unless signed_in? %>  
    </td>
  </tr>
</table>

<% else %>
<h3><%= "Hey, #{current_user.firstname}!" %></h3>


<% end %>



<br/><br/>

<div class="headline"> Recent posted rides</div>
 <%= render '/shared/ride_city_search' %>
 <% @rides = Ride.scoped( :conditions => { :datetime => Date.today..Date.today + 14 } ) %>
 <% @rides = @rides.reorder("created_at DESC").limit(10) %>
 <table class="round rides">
 <%= render @rides	 %>
 </table>