<tr>
  <td class="ride">
    <table>
      <tr>
        <td>
          <% if User.find(ride.user) != current_user %>
            <%= link_to username(ride.user), ride.user %> 
            is 
          <% else %>
            I am
          <% end %>
          driving from
          <strong>
            <%= "#{ride.origin}, #{ride.originstate}" %>
          </strong> 
          to 
          <strong>
            <%= "#{ride.destination}, #{ride.destinationstate}" %>
          </strong> 
          on <%= link_to ride.date.to_formatted_s(:long), ride %>.
        </td>
        <td>
          <% if current_user == ride.user %>
            <%= link_to "Edit", edit_ride_path(ride) %>
          <% end %>
        </td> 

        </td>
        <td>
          
        </td>
      </tr>
      <tr>
        <td>
          <div class="alt">
            Posted 
            <%= time_ago_in_words(ride.created_at) %> 
            ago.
          </div>
        </td>
        <td>
          <% if !current_user.nil? %>
            <% if current_user.admin? || current_user == ride.user %>
              <%= button_to "Delete", ride, :method => :delete %>
            <% end %>
          <% end %>
         </td> 
      </tr>
    </table>
  </td>
</tr>