<tr>
  <td class="ride">
    <table>
      <tr>
        <td>
          
          <% if User.find(ride.user_id) != current_user %>
            <%= link_to "#{ride.user.firstname} #{ride.user.lastname.to(0)}", 
              ride.user %> 
            is 
          <% else %>
            I am
          <% end %>
          driving from
          <strong><%= ride.origin.humanize %></strong> to 
          <strong><%= ride.destination.humanize %></strong> 
          on <%= ride.date.to_formatted_s(:long) %>.
        </td>
        <td>
          <%= link_to "Show", ride %>
        </td>
        <td>
          <% if current_user == ride.user %>
            <%= link_to "Edit", edit_ride_path %>
          <% end %>
        </td> 

        </td>
        <td>
          
        </td>
      </tr>
      <tr>
        <td>
          <div class="alt">
            Posted 
            <%= time_ago_in_words(ride.created_at) %> 
            ago.
          </div>
        </td>
        <td>
          <% if !current_user.nil? %>
            <% if current_user.admin? || current_user == ride.user %>
              <%= button_to "Delete", ride, :method => :delete %>
            <% end %>
          <% end %>
         </td> 
      </tr>
    </table>
  </td>
</tr>