<tr>
  <td class="date">
    <%= link_to ridetime(ride), ride %>
  </td>
  <td class="gravatar">
    <%= link_to (gravatar_for ride.user, :size => 20), ride.user unless ride.user == @user %>
  </td>
  <td class="ride">
    <% unless @user == ride.user %>
    <%= link_to username(ride.user), ride.user %> 
    is driving from
    <% end %>
    <strong>
    <%= "#{ride.origin}, #{ride.originstate}" %>
    </strong> 
    to 
    <strong>
    <%= "#{ride.destination}, #{ride.destinationstate}" %>
    </strong> 
      
  </td>
  <td class="alt timestamp">
    Posted 
    <%= time_ago_in_words(ride.created_at) %> 
    ago.
  </td>
</tr>
