<tr>
  <td class="rides">
    <table class="rides">
      <tr>
        <td class="ride">
          <%= link_to username(ride.user), ride.user %> 
          is driving from
          <strong>
            <%= "#{ride.origin}, #{ride.originstate}" %>
          </strong> 
          to 
          <strong>
            <%= "#{ride.destination}, #{ride.destinationstate}" %>
          </strong> 
          on <%= ride.date.to_formatted_s(:long) %>.
        </td>
        <td>
          <%= link_to "Show ride", ride %>
          
        </td> 
        <td class="alt timestamp">
          
            Posted 
            <%= time_ago_in_words(ride.created_at) %> 
            ago.
          
        </td>

        <td>
          
        </td>
      </tr>
      <% if !current_user.nil? %>
      <% if current_user.admin? || current_user == ride.user %>
        <tr>
          <td>
            <%= link_to "Edit", edit_ride_path(ride) %>
            <%= button_to "Delete", ride, :method => :delete, :confirmation => "Are you sure?" %>
          </td> 
        </tr>
      <% end %>
      <% end %>
       
    </table>
  </td>
</tr>