<% provide :title, "edit ride" %>
<table class="round">
  <tr>
    <td>
      <%= gravatar_for current_user, :size => 30 %>
      <h3><%= "Edit your ride, #{@ride.user.firstname}" %></h3>
    </td>
  </tr>
<%= form_for(@ride) do |f| %>
  <%= render 'shared/ride_form', :f => f %>
  <tr>
    <td>
    </td>
    <td>
  <div class="actions">
    <%= f.submit "continue" %>
  </div>
    </td>
  </tr>
  </table>
<% end %>