<% provide :title, "rides" %>
<h3 class="rides">Rides</h3>
<p><%= request.location.city %>
<%= form_tag rides_path, :method => 'get' do %>
  <table class="search round">
  <tr>
  <td>
  <strong>From:</strong> <%= text_field_tag :search_city, params[:search_city], 
                                            :placeholder => "city, state" %> 
    +/- <%= select_tag :miles_radius, options_for_select([0, 10, 25, 50, 100]) %>
    miles
    </td>
    <td>
  
  <strong>Towards:</strong>
  <%= text_field_tag :search_dest,
                     params[:search_dest],
                     :placeholder => "city, state" %>
  </td><td>
  <strong>On:</strong>
  <% @start_date ||= Date.today %>
  <%= select_date @start_date, :prefix => :start_date,  
                              :order => [:month, :day] %>
  
  </td>
  <td>
  <%= submit_tag "Search", :name => nil %>
  </td>
  </tr>
  </table>
<% end %>
<% unless @rides.blank? %>
<table class="round rides">
    <%= render @rides %>
</table>
<% else %>
<br/>
<h3 align="center"><%= link_to "See all rides", rides_path %></h3>	
<% end %>