<% provide :title, "rides" %>
<h3 class="rides">Rides</h3>
<%= form_tag rides_path, :method => 'get' do %>
  <p>
  Search for rides that start within 
  <%= select_tag :miles_radius, options_for_select([0, 10, 25, 50]) %>
  miles of 
  <%= text_field_tag :search, params[:search], :placeholder => "enter search..." %>
  <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<br/>
<table class="rides">
  <%= render @rides %>
</table>
