<% provide(:title, "post ride") %>
<table class="shadow_up round">
  <tr>
    <td>
      <h3><%= gravatar_for current_user, :size => 50 %>
      <%= "Where to, #{current_user.firstname.humanize}?"%></h3>
    </td>
  </tr>
</table>
<table class="rideform round shadow_down">
  <%= form_for @ride do |f| %>
    <%= render 'shared/ride_form', :f => f %>
  
  <tr>
	<td>
    </td>
	<td colspan="2">
      <div class="actions">
        <%= f.submit "continue" %>
      </div>
    </td>
  </tr>
  <% end %>
</table>