<% provide(:title, "post ride") %>
<table class="shadow_up round">
  <tr>
    <td>
      <%= gravatar_for current_user, :size => 30 %>
      <h3><%= "Where to, #{current_user.firstname.humanize}?"%></h3>
    </td>
  </tr>

<%= form_for @ride do |f| %>
  <div align="center">
  <%= render 'shared/ride_form', :f => f %>
  </div>
  <tr>
  <td></td><td>
  <div class="actions">
    <%= f.submit "Post Ride" %>
  </div>
  </tr>
  </td>
  </table>
  </table>
<% end %>