<table>
  <tr>
    <td>
      <%= gravatar_for @ride.user, :size => 50 %>
      <%= username(@ride.user) %>
    </td>
    <td colspan="2">
      <%= link_to "Back to all rides", rides_path %>
    </td>
  </tr>
    <td>Driving <%= @ride.trip_distance.round(0) %> miles 
    <strong><%= Geocoder::Calculations.compass_point(@ride.bearing) %> 
    </strong>from
      <%= "#{@ride.origin}, #{@ride.originstate} 
                       to #{@ride.destination}, #{@ride.destinationstate}"%>
  on <%= @ride.datetime.strftime("%a, %b %d at %I:%M") %>
          <% if @ride.datetime.hour < 12 %>
          am.
          <% else %>
          pm.
          <% end %></strong>
    </td>
    <td>
    </td>
    <% if @ride.user == current_user %>
      <td>
        <%= link_to "edit", edit_ride_path(@ride) %>
      </td>
      <td>
        <%= button_to "Delete", @ride, :method => :destroy %>
    <% end %>
  </tr>
  <tr>
    <td>
      <% unless @ride.message.nil? %>
        "<%= @ride.message %>"
      <% end %>
    <br />
    <br />
    </td>
  </tr>
    <tr>
    <td><%= @ride.bearing.round(2) %>
    </td>
  </tr>
 
  
</table>