<%= provide(:title, "#{@ride.origin} to #{@ride.destination}") %>
<table class="round shadow_down">
  <tr>
    <td colspan="2">
      <%= gravatar_for @ride.user, :size => 50 %>
      <h3><%= username(@ride.user) %></h3>
    </td>
    <td colspan="2">
      <%= link_to "Back to all rides", rides_path %>
    </td>
  </tr>
    <td colspan="2">Driving ~<%= @ride.trip_distance.round %> miles 
    <strong><%= compass_points(@ride.bearing) %>
    </strong>from
      <%= "#{@ride.origin}, #{@ride.originstate} 
                       to #{@ride.destination}, #{@ride.destinationstate}"%>
  on <%= @ride.datetime.strftime("%a, %b %d at %I:%M") %>
          <% if @ride.datetime.hour < 12 %>
          am.
          <% else %>
          pm.
          <% end %></strong>
    </td>
    <% if @ride.user == current_user %>
      <td>
        <%= link_to "edit", edit_ride_path(@ride) %>
      </td>
      <td>
        <%= link_to "delete", @ride, :confirm => "Are you sure?", :method => :delete %>
    <% end %>
  </tr>
  <tr><td><br/></td></tr>
  <% latlong = Geocoder.coordinates(@ride.destination + ' ' + @ride.destinationstate) %>
   <tr><td><strong>Start</td><td><strong>End</td></tr>
  <tr>
    <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{@ride.latitude}%2C#{@ride.longitude}" %>
    </td>
    <td>
    
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=7&markers=#{latlong.first}%2C#{latlong.last}" %>
    </td>
  </tr>
  <tr>
  <td>
  <% map_link = 'http://maps.google.com/maps?saddr=' + @ride.origin + ',+' + @ride.originstate + '&daddr=' + @ride.destination + ',+' + @ride.destinationstate %>
  <%= link_to "See route on Google Maps", map_link %>
  <iframe width="0" height="0" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
  src='<%= map_link %>'>
  </iframe><br />
  </td>
  <tr>
    <td>
      <% unless @ride.message.nil? %>
        "<%= @ride.message %>"
      <% end %>
    <br />
    <br />
    </td>
  </tr>
</table>